/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body, html {
  background: black;
  font-family: sans-serif;
}

#head {
  font-family: verdana;
  font-size: 24px;
  padding: 10px 30px;
  position: absolute;
  background: rgba(255,255,255, 0.5);
  width: 100%;
}

#head .version {
  position: absolute;
  color: #e4e4e4;
  right: 100px;
  top: 20px;
  font-size: 14px;
}
#earth {
  background-image: url( '../img/backgrounds/outer_space_trip_08_by_brujo.jpg' );
}
#cities {
  top: 100px;
  left: 20px;
  position:absolute;
  z-index: 1;
  color: white;
}

#cities p{
  margin: 10px 0;
  margin: 6px 0;
  text-shadow: 0px 0px 5px #C4C4C4;
}

#cities p.danger {
  color: #ff0000;
  text-shadow: none;
}
